.darkMode{
    .categories{
        .categories__content{
         h2{
             color: $color-dark-5;
         }
            .categories__items{       
                border-color:  $color-dark-2; 
                background-color: $color-dark-6;
                &:hover{
                    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
                    cursor: pointer;
                }
    
            }
    
        }
    }
}
