.footer{
    @include styleText($color-gray-0, $fs-0, $fw-0); 
    .footer__top{
        width: 90%;
        margin: $mg-1 auto; 
        ul {
            height:110px; 
            .nav-item{
                flex-basis: 25%;
                .nav-link{
                    color: $color-blue-1;
                    padding:0; 
                    &.bold{
                        color: $color-blue-0;
                        font-weight: $fw-2;
                    }
                }
            }
        }
        .btn-group{
            text-align: right;
            display: block;
            .button--dropup{
                box-shadow: none;
                min-width: 190px;
               i{
                   padding: 0 5px;
               } 
               &::after{
                   margin-left: 30%;
               }
            }
            .dropdown-menu{
                font-size: $fs-0;
            }
        }
    }
    .footer__bottom{
        width: 90%;
        margin: 0 auto;
        padding: $pd-1 0; 
        #logoBlack{
            display: inline-block ;
        } 
        #logoWhite{
            display: none;
        }
        img{
            width: 110px;
            margin-right: $mg-0; 
        }
        .nav-link{
            @include styleText($color-blue-0, $fs-0, $fw-0); 
        }
    }
}