.myNavBar {
    .myNavBar__col{
        padding-left: 0;
    }
    .myNavBar__left{
        display: flex;
        align-items: center;
        .navbar-brand{ 
        flex-grow: 1; 
        margin-right: 0;
        text-align: center;
        #logoBlack{
            display: block;
        } 
        #logoWhite{
            display: none;
        }
           img{
               width: 110px;
           } 

        }
        .myNavBar__categories{
            flex-grow: 1;
            text-align: center;
            @include styleText($color-black-light, $fs-1, $fw-0);
            cursor: pointer;
            i {
                color:  $color-gray-3; 
            }
        }
        .myNavBar__form-search{
            flex-grow: 8;
            @include styleFormSearch($color-white-cream, $color-white-0, $color-gray-4, 
            $color-black-light); 
        
           
        }
    }
    .myNavBar--reset{
        padding: 0 $pd-0;
        .myNavBar__right{
            .navbar-nav{
                justify-content: space-between;
                align-items: center;
                .nav-item{
                    padding: $pd-0 $pd-0;
                    border-radius: 3px;
                    position: relative;
                    .nav-link{
                        @include styleText($color-black-light, $fs-1, $fw-0);
                        
                    }
                    &:hover{
                        background-color: $color-gray-1; 
                        .overlay{
                            display: block;
                            z-index: 30;
                        }
                    }
                    .overlay{
                        display: none;
                        background-color: $color-white-0;
                        width: 330px;
                        padding: $pd-1;
                        text-align: center;
                        position: absolute;
                        top: 60px; 
                        right: 0; 
                        border-top: 1px solid $color-gray-1; 
                        box-shadow: 0 4px 16px $color-gray-5;
                        &::before{
                            content:"";
                            display:block;
                            width: 15px;
                            height: 15px; 
                            background-color: white; 
                            border-top: 1px solid $color-gray-1;
                            border-left: 1px solid $color-gray-1;
                            position: absolute;
                            top: -8px; 
                            right: 10%; 
                            transform: rotate(45deg);
                            
                        }
                    }
                }
                .myNavBar__cart  {
                    width: 50px;
                    height: 50px; 
                    line-height: 20px;
                    text-align: center;
                    border-radius: 50%;
                    i{
                        font-size: $fs-1+7; 
                    }          
                }
                .myNavBar__button{
                    .button--white{
                        margin-right: 5px;
                    }
                    &:hover{
                        background-color:transparent; 
                    }
                
                    .button{
                        white-space: nowrap;
                    }
                }
            }
        } 
    }
 
    @media screen and (min-width: 1200px) and (max-width: 1417px) {
        .myNavBar__right{
            .navbar-nav{
                .nav-item{
                
                    .nav-link{
                        font-size: $fs-0+1; 
                        white-space: nowrap;
                        i{
                            font-size: $fs-1+3;
                           
                        }
                    }
                   
                    .button--white, .button--red{
                        font-size: $fs-1+1;
                        padding: 5px $pd-0;
                    }
                    &.myNavBar__cart{
                        margin-right: 5px;
                    }
                }
                
            }

        }
        .myNavBar--reset{
            padding-right: 10px;
            padding-left: 10px;
    }
     
    }
    //max-with 1200px 

    @include responsive("small"){
        .myNavBar__cart  {
            line-height: 50px !important;        
        }
    } 
    @include responsive('extra-large'){
        .business, .instructor{
            display: none;
        }
    }
    @include responsive('medium'){
        .myNavBar__left{
            .myNavBar__categories,  .myNavBar__form-search{
                display:none; 
            }
        }
        .myNavBar__right{
            width: 50%;
            margin-left: auto;
            .navbar-nav{
                .nav-item{
                    .button--white, .button--red{
                        display: none;
                    }
                }}
        }
    }

 
    }
    
   

